<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30500">
    <setting label="30501" id="username" type="text"  default="" />
    <setting label="30502" id="password" type="text" option="hidden" default="" />
  </category>
  <category label="30510">
    <setting label="30511" id="force_view_mode" type="bool" default="true"/>
    <setting label="30512" id="view_mode_id" type="number" default="504"/>
    <setting type="sep" />
    <setting label="30513" id="force_content_type" type="bool" default="true"/>
    <setting label="30514" id="content_type" type="labelenum" values="videos|movies|episodes" default="episodes"/>
    <setting type="sep" />
    <setting label="30515" id="use_extended_broadcast_details" type="bool" default="false" />
  </category>
</settings>
